body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fffde8;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.25;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    color: rgba(39, 33, 66, .4);
    list-style: none;
    padding: 0px;
}

footer {
    color: rgba(39, 33, 66, .4);
    font-size: 12px;
    text-align: center;
}

a {
    color: #0881a3;
}

.weather-app, .container {
    margin: 30px auto;
    padding: 25px;
    background: white;
}

.container {
    border: 1px solid none;
    border-radius: 15px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    max-width: 70%;
}

.weather-overview {
    margin-bottom: 20px;
}

.main-temperature, .weather-emoji {
    font-size: 50px;
    font-weight: bold;
}

.temperature-details, .units {
    position: relative;
}

.temperature-details {
    float: right;
    top: 30px;
}

.units {
    top: -25px;
}

.basic-weather-info {
    font-size: 14px;
}

#city {

}

#main-temperature {

}