body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fffde8;
}

h1 {
    color: #4c8492;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.25;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    color: rgba(39, 33, 66, .4);
    list-style: none;
    padding: 0px;
}

hr {
    border: 1px solid #f7e0a3;
}

footer {
    color: rgba(39, 33, 66, .4);
    font-size: 12px;
    text-align: center;
}

a {
    color: #4c8492;
}

input[type=search] {
    background-color: #fffde8;
    border: 1px solid #fffde8;
    padding: 10px;
}

input[type=submit] {
    background-color: #f09c67; 
    border: 1px solid #f09c67;
    opacity: 0.8;
    padding: 10px;
}

input[type=submit]:hover {
    background-color: #f09c67; 
    border: 1px solid #f09c67;
    opacity: 1;
}

.weather-app, .container {
    margin: 15px auto;
    padding: 25px;
    background: white;
}

.container {
    margin: 30px auto;
    padding: 25px;
    background: white;
    border: 1px solid none;
    border-radius: 15px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    max-width: 60%;
}

.weather-overview {
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-temperature, #icon {
    font-size: 50px;
    font-weight: bold;
    margin-right: 8px;
}

.temperature-details, .units, #icon {
    position: relative;
}

.temperature-details {
    float: right;
    top: 40px;
}

#icon {
    top: -15px;
}

.units {
    top: -25px;
}

.basic-weather-info {
    font-size: 14px;
}

#search-form {
    margin-bottom: 40px;
}

#location {
    font-size: 34px;
    background: none;
    border: none;
    position: relative;
    top: -7px;
    left: -7px;
    opacity: 0.5;
}

#location:hover {
    opacity: 1;
}