body {
    background: #fffde8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.25;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    color: rgba(39, 33, 66, .4);
    list-style: none;
    padding: 0px;
}

hr {
    border: 1px solid #f7e0a3;
}

a, a:hover {
    color: #f09c67;
    text-decoration: none;
}

input[type=search] {
    background-color: #fffde8;
    border: 1px solid #fffde8;
    padding: 10px;
}

input[type=submit], input[type=submit]:hover {
    background-color: #f09c67; 
    transition: all ease-in-out 0.2s;
}

input[type=submit] {
    border: 1px solid #f09c67;
    opacity: 0.9;
    padding: 10px;
}

input[type=submit]:hover, input[type=submit]::after {
    border: 1px solid #f09c67;
    opacity: 1;
}

footer {
    color: rgba(39, 33, 66, .4);
}

footer, #source-code {
    font-size: 12px;
    text-align: center;
}

.weather-app, .container {
    background: white;
    margin: 15px auto;
    margin-bottom: 0px;
    padding: 25px;
    padding-bottom: 15px;
}

.weather-forecast {
    padding-bottom: 25px;
    text-align: center;
}

.date {
    color: rgba(39, 33, 66, .4);
    font-size: 16px;
    line-height: 2;
}

.forecast-temperature {
    color: rgba(39, 33, 66, .4);
    font-size: 12px;
    margin-top: 5px;
}

.forecast-elements {
    margin: 12px;
}

.maximum-forecast-temperature {
    font-weight: bold;
}

.forecast-icon {
    width: 70px;
}

.container {
    border: 1px solid none;
    border-radius: 15px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    margin: 30px auto;
    max-width: 60%;
}

.weather-overview {
    margin-bottom: 20px;
    margin-top: 20px;
}

.units {
    top: -48px;
    margin-right: 55px;
}

.basic-weather-info {
    font-size: 14px;
}

.temperature-details {
    float: right;
    top: 40px;
}

.temperature-details, .units, #icon, #location, .main-temperature {
    position: relative;
}

.main-temperature {
    font-size: 50px;
    font-weight: bold;
    margin-right: 5px;
    top: -25px;
}

#icon {
    width: 150px;
}

#location {
    background: none;
    border: none;
    font-size: 34px;
    left: -5px;
    opacity: 0.6;
    top: -3px;
    transition: all ease-in-out 0.2s;
}

#location:hover {
    opacity: 1;
}

#icon {
    top: -35px;
}

#search-form {
    margin-bottom: 40px;
}